.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: myFirstFont;
  font-size: 17px;
}
.logo {
  padding-left: 4rem;
}
.pages ul {
  display: flex;
}
.pages ul li {
  padding: 0 12px;
  list-style: none;
}
/* .pages ul Link {
  text-decoration: none;
} */
.user {
  text-align: right;
  padding-top: 9px;
  padding-right: 90px;
}
