@import './css/contact.css';
@import './css/journey.css';
@import './css/navbar.css';
@import './css/team.css';
@import './css/teamcard.css';
@import './css/store.css';
@import './css/filter.css';
@import './css/shoelist.css';
@import './css/shoe.css';
@import './css/cart.css';
@import './css/product.css';
@import './css/productpage.css';
* {
  font-family: myFirstFont;
}
@font-face {
  font-family: myFirstFont;
  src: URL('./assets/fonts/Product_Sans.ttf') format('truetype');
}
@font-face {
  font-family: Font;
  src: URL('./assets/fonts/Gobold_Regular.otf') format('opentype');
}

/* Utilities */
.btn {
  background-color: white;
  padding: 4px 6px;
}