.App {
  text-align: center;
  font-family: myFirstFont;
}
@font-face {
  font-family: myFirstFont;
  src: URL('./assets/fonts/Product_Sans.ttf') format('truetype');
}
@font-face {
  font-family: Font;
  src: URL('./assets/fonts/Gobold_Regular.otf') format('opentype');
}